 .login-form {
    max-height:400px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .ant-input-affix-wrapper{
    display: flex;
    align-items: center;
  }
  .ant-input-affix-wrapper{
    display: flex;
    justify-content: space-between !important;
  }